# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)
number = 5
print(number)

6
5

##### Assinging float

In [3]:
number_float = 2.3 

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 =2 
num2 = 5.4

result = num1 + num2 

result += 2
print(result)

9.4

##### Subtraction

In [7]:
result = num2 - num1 

result -= 1 

print(result)

2.4000000000000004

##### Multiplication

In [9]:
result = num1 * num2 

result *= 2

print(result)

21.6

##### Division

In [10]:
result = num2/num1

result /= 2 

print(result)

1.35

##### Floor Division

In [12]:
num1 = 5 
num2 = 2 


result = num1/num2 

floor_result = num1//num2

print(result)
print(floor_result)

2.5
2

##### Modulo

In [13]:
result = num1 % num2 

print(result)

1

##### Exponential

In [14]:
square = 5**2 

print(square)

25

### String Input-Output

##### String Assignment

In [15]:
name = 'Ameya'

print(name)

Ameya

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my first " , name)

print(name, end="Vikram")

This is my first  Ameya
AmeyaVikram

##### String Concatenation

In [24]:
first_name = "John"

last_name = "Smith"

full_name = first_name + last_name

print( full_name)

JohnSmith

##### Type Conversion

In [2]:
number = "72"

# A string can't be concatenated with an integer



changed_type = float(number)

print(number)
print(changed_type)

72
72.0

In [4]:
number = "72"

# A string can't be concatenated with an integer



changed_type = float(number)

print(number)
print(changed_type)

72
72.0

##### input()

In [5]:
 # this is a single comment

age = input("What is your age? ")
print(age)

value_of_age = age +2 
print(value_of_age)


# this is another comment

What is your age? 23
23

TypeError: can only concatenate str (not "int") to str

##### format()

In [6]:
# ask user for age
age = input("What's your age?")
# print out a formatted string with their age

# print('You are {} years old, and I am {} years old'.format(age, 34))

result_string = "You are {} and you getting old!".format(age)
print(result_string)

What's your age?23
You are 23 and you getting old!

##### Old Way (python 2)

In [7]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int
result_string2 = "You are %s and you look great for your age!" % age
print(result_string2)

You are 23 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [16]:
color = input("What's the color of your car?")

year = input("What's the year your car was built?")

make = input("What's the brand of your car?")

model = input("What's the model of your car?")

result_car = "Your car's color is {} , the car's year is {} , the car's make is {}  and the model is {}. ".format(color,year, make, model)

print(result_car)

What's the color of your car?brown
What's the year your car was built?2016
What's the brand of your car?hyundai
What's the model of your car?sonata se
Your car's color is brown , the car's year is 2016  , the car's make is hyundai   and the model is sonata se.

### If Statements

In [18]:
num_1 = 5 
num_2 = 10

if num_1 == num_2:
    print("Equal numbers")
if num_2 > num_1:
    print("I am the greatest")

I am the greatest

##### 'is' keyword

In [19]:
# use is when checking for same object, not same value

num3 = None 

if num3 is None: 
    print("This has no value")

This has no value

##### 'in' keyword

In [21]:
# check if char in name

name = "Max Payne"

if "m" in name: 
    print("The character that lost everything!")

##### 'not in' keyword'

In [22]:
name = "Max Payne"

number = "34"


if "a" not in number: 
    print("a is not in the number")

a is not in the number

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [35]:
name = "Max Payne"

if "P" in name: 
    print("P is in the input!")

In [36]:
answer = input("Type some letters please: ")

if "p" in answer: 
    print(" You have solved the riddle")

Type some letters please: programming
 You have solved the riddle

## Using 'and'/'or' with If Statements

In [3]:
# when using 'and' keyword, checks to see if true and true
num1 = 15
num2 = 3 
num3 = 10 



# if num1 == num2 and num1 == num3:
#     print('True and true')

if num1 > num2 and num1 > num3:
    print("Both sides are true")

# when using 'or' keyword, checks to see if one side is true

# if (num1 == num2 and num1 == num3) or num2 > num1:
#     print('False and true')

if num1 > num2 or num3 < num1:

Both sides are true

### Elif Statements

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [8]:
# ask user for age
age = int(input("What's your age?"))

if age < 18:
    print("Kids")
elif age >= 18 and age < 65:
    print("Adults")
else: 
    print("Seniors!")

print(age)

What's your age?67
They are seniors!
67

### For Loops

In [10]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)


name = "Max Payne"

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [12]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [13]:
for i in range(10):
    if i == 5:
        break
        
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass #TODO Come back here later

##### Double For Loops

In [14]:
for i in range(5):
    for j in range(5):
        print(" i= {}, j = {}".format(i,j))

 i= 0, j = 0
 i= 0, j = 1
 i= 0, j = 2
 i= 0, j = 3
 i= 0, j = 4
 i= 1, j = 0
 i= 1, j = 1
 i= 1, j = 2
 i= 1, j = 3
 i= 1, j = 4
 i= 2, j = 0
 i= 2, j = 1
 i= 2, j = 2
 i= 2, j = 3
 i= 2, j = 4
 i= 3, j = 0
 i= 3, j = 1
 i= 3, j = 2
 i= 3, j = 3
 i= 3, j = 4
 i= 4, j = 0
 i= 4, j = 1
 i= 4, j = 2
 i= 4, j = 3
 i= 4, j = 4

### While Loops

In [15]:
# based on a conditional statement

num = 0
while num< 10:
    print(num)
    
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [16]:
game_over = False

while True:
    print("infinite Loop")
    if game_over == False:
        break

infinite Loop

##### While & For Loops Used Together

In [17]:
num = 0 




while num < 5:
    print("While loop iteration"   + str(num)
    
    for i in range(2):
          print("For loop iteration"   + str(i))
          
          num +=1

SyntaxError: invalid syntax (<ipython-input-17-a37bfedfe5be>, line 9)

### Built-In Functions

##### range()

In [21]:
# start, stop, step
for i in range(20,0,2):
    print(i)

##### len()

In [23]:
# check length of variable
name = "Max"


length = len(name)
print(length)



for i in range(len(name)):
    print(name[i])


# print(length)

3
M
a
x

##### help()

In [24]:
# to view more information on a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [8]:
# isinstance(var, type)
if isinstance("45", string):
    print("This is a float")

NameError: name 'string' is not defined

##### abs()

In [1]:
abs(-5)

5

### Try and Except

In [11]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop


try: 
    number_test = 0
    print("Your number is " + str(number_test))
except: 
    print("That did not work -- ERROR Number 304")

Your number is 0

### Lists

##### Declaring Lists

In [12]:
l_l =[]  #Declaring an empty list 

names = ["max", "Cindy", "Kathy", "Bob"]

print(names)

['max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [18]:
# [-1], [start: stop: step]

# print(names[0])
print(names[0])
# print(names[1:]) # starts at 1 goes to end
print(names[1:])
# print(names[:2]) # starts at beginning prints index 0 and 1
print(names[:2])
# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1:2])
# print(names[::-1]) # reverse printed order
print(names[::-1])

max
['Cindy', 'Kathy', 'Bob']
['max', 'Cindy']
['Cindy']
['Bob', 'Kathy', 'Cindy', 'max']

##### .append()

In [51]:
names.append("Ameya")
print(names)

['Obama', 'max', 'Cindy', 'Kathy', 'Bob', 'Ameya']

##### .insert()

In [48]:
# list.insert(index, value)
names.insert(0, "Obama")
print(names)

['Obama', 'max', 'Cindy', 'Kathy', 'Bob', 'Ameya']

##### .pop()

In [49]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
result = names.pop()
print(result)
print(names)

Ameya
['Obama', 'max', 'Cindy', 'Kathy', 'Bob']

##### .remove()

In [50]:
# value to be removed, not index


names.remove("Ameya")
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [62]:
# index to be removed, not value
# be careful with del, can cause indexing errors

print(names)

del(names[0])
print(names)

['Max', 'Sam', 'JOsh', ['Sally', 'Sue', 'Tameka']]
['Sam', 'JOsh', ['Sally', 'Sue', 'Tameka']]

##### Concatenating Two Lists

In [53]:
# will append two lists together, not add up elements in each list

l_l = [3,4,5]
l_2 = [0,1,2]

large_list = l_l +l_2 

print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [56]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other
names = ["Max", "Sam", "JOsh", ["Sally", "Sue", "Tameka"]]

print(names)
print(names[3][0])

['Max', 'Sam', 'JOsh', ['Sally', 'Sue', 'Tameka']]
Sally

##### Looping Through Lists

In [61]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names = ["jim", "sally", "fred","lucas"]
        
    
for i in range(len(first_names)):
    print(first_names[i])

    
    
last_name = "Carter"
for char in last_name:
    print(char)
#Loop with a for Loop


# loop based on index

jim
sally
fred
lucas
C
a
r
t
e
r

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>